digitalocean_token = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
ssh_key_name = "XXXXXXXXXXXXXXXXXXX"
domain_name = "XXXXXXXXXXXXXXXXXXXX"
record_name = "XXXXXXXXXXXXXXXXXXXX"
masterNodeVmSize = "XXXXXXX"
workerNodeVmSize = "XXXXXXX"